@import "./../../styles/constants";

// index specific styling for card components
.cardComponent {
  width: 400px;

  img {
    height: 200px;
  }

  .textSection {
    padding-block: 30px;
    padding-inline: 20px;
    height: 200px;
  }

}