@import "./../_constants";
@import "./../module";


span.importantHeading {
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 1px;
    background-color: whitesmoke;
    opacity: 0.3;
  }
}

.standardSectionInvisibleHeading {
  position: absolute;
  top: 0;
  right: 100px;
  opacity: 0.07;
  text-align: right;

  word-spacing: 100vw;
  font-size: 8rem;
}

// * using section.landingSection to increase specificity for priority
section.landingSection {
  padding: 100px 200px;
  padding-bottom: 200px;
  width: 100%;
  min-height: 700px;
  margin-top: 100px;
  margin-bottom: 200px;

  &:before {
    display: none;
  }

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25%;

  .decorationCode {
    position: absolute;
    opacity: 0.05;
    right: 100px;
    top: 0;
    width: max-content;
    height: fit-content;
    font-size: 2rem;
  }

  .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: fit-content;
    height: fit-content;

    position: relative;
    z-index: 1;

    .seeThrough {
      opacity: 0.1;
    }
  }

  .contentSection {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      display: flex;
      flex-direction: column;
    }

    .buttonSection {
      width: fit-content;

      button {
        width: 100%;
        margin: 50px 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  section.landingSection {
    flex-direction: column;
    gap: 100px;

    padding: 100px 15%;

    code {
      left: 0;
      top: 300px;
    }
  }
}
@media screen and (max-width: 600px) {
  section.landingSection {
    padding: 200px 10% 100px 10%;

    .heading {
      font-size: $h1fontSize;
    }
  }
}
@media screen and (max-width: 500px) {
  // hardcoded height for typed content so as to prevent overflow and subsequent content shift
  section.landingSection .contentSection h3 {
    $line-height: 1.3;
    line-height: $line-height;
    height: $h3fontSize * $line-height * 5;
  }
}

section.landingCarouselSection {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  border-right: none;
  border-left: none;
}

.line {
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  left: 33%;
}

section.conceptSection {
  z-index: 1;
  color: white;
  border-left: none;
  width: 100%;

  position: relative;
  padding-bottom: 200px;

  display: grid;
  grid-template-rows: fit-content fit-content fit-content;
  grid-template-columns: 1fr 1fr;
  row-gap: $sectionGap * 2;
  column-gap: 10%;

  align-items: center;

  .conceptCarouselSection {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    position: relative;

    h4 {
      margin-bottom: $sectionGap;
    }
    .conceptImageCarousel {
      width: 100%;
      height: 100%;
      position: relative;
    }

  }
  h2 {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }

  .textSection {
    align-self: flex-start;
    grid-row: 2 / 2;
    grid-column: 1 / 1;

    .buttonSection button {
      margin: 50px 0;
    }
  }
}
@media screen and (max-width: 1600px) {

  section.conceptSection {
    grid-template-rows: repeat(4, fit-content);
    grid-template-columns: 1fr;
    column-gap: 0;

    .conceptCarouselSection {
      grid-row: 4 / 4;
      grid-column: 1 / 1;

    }

    .textSection {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }

  }
}
@media screen and (max-width: 1200px) {
  section.conceptSection .conceptGraphWrapper {
    left: 25%;
    top: -25%;
    bottom: initial;
    right: 25%;
  }
}
@media screen and (max-width: 980px) {
  section.conceptSection {
    grid-template-rows: repeat(3, fit-content);
    grid-template-columns: 1fr;
    margin-right: 0px;
    border-right: none;

    .decorationCode {
      top: initial;
      bottom: 0;
    }

    .conceptImage {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }

    .textSection {
      grid-row: 3 / 3;
      grid-column: 1 / 1;
    }
  }
}

section.postSection {

  position: relative;
  
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, fit-content);
  grid-template-columns: repeat(2, fit-content);
  column-gap: 5vw;
  row-gap: $sectionGap * 2;
  padding: unset 5vw;

  border-right: none;

  h2 {
    grid-column: 1 / 3;
  }
  > article {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
  }
  > b {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .decoration {
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50%;
  }


  .projectsSection, .blogSection {
    width: 100%;
    height: fit-content;
    h3 {
      margin-bottom: $sectionGap;
    }
  }

  .projectsSection {
    grid-row: 3;
    grid-column: 1 / 1;

    .projectCarousel {
      width: 100%;
      height: 100%;
    }

  }
  .blogSection {
    grid-row: 3;
    grid-column: 2 / 2;

    .blogCarousel {
      width: 100%;
      height: 100%;
    }
  } 

}
@media screen and (max-width: 1200px) {
  section.postSection {
    grid-template-columns: fit-content;
    grid-template-rows: repeat(5, fit-content);

    h2 {
      grid-column: 1;
      grid-row: 1;
    }
    > p {
      justify-self: right;
      grid-column: 1;
      grid-row: 2;
      width: 100%;
    }
    > h5 {
      grid-column: 1;
      grid-row: 3;
    }
  

    .projectsSection {
      grid-row: 4;
      grid-column: 1 / 3;
    }
    .projectHeading {
      grid-row: 5;
      grid-column: 1 / 3;
    }

    .blogSection {
      grid-row: 6;
      grid-column: 1 / 3;
    }
    .blogHeading {
      grid-row: 7;
      grid-column: 1 / 3;
    }

  }

}
@media screen and (max-width: 980px) {
  section.postSection {
    width: 100%;
    margin-left: 0;
    border-left: 0;
  }
}

/// philosophy section:

section.philosophySection {

  width: 100%;
  margin: auto;
  @include centeredFlex();
  flex-direction: column;
  gap: $sectionGap * 2;

  > h2, > article {
    width: 80%;
  }

  .cardSection {
    margin: 100px 0;
    display: grid;
    grid-template-rows: repeat(2, fit-content);
    grid-template-columns: repeat(2, fit-content);
    gap: 100px;
  
    .card {
      text-align: center;
      box-shadow: $boxShadow;
      position: relative;
      z-index: 2;
      width: 600px;
      height: 600px;
    
  
      &:nth-child(1) {
        justify-self:end;
        grid-row: 1;
        grid-column: 1;
      }
      &:nth-child(2) {
        justify-self:start;
        grid-row: 1;
        grid-column: 2;
      }
      &:nth-child(3) {
        justify-self:end;
        grid-row: 2;
        grid-column: 1;
      }
      &:nth-child(4) {
        justify-self:start;
        grid-row: 2;
        grid-column: 2;
      }
  
    }
  }

  .buttonSection button {
    margin: auto;
  }

}
@media screen and (max-width: 1700px) {
  section.philosophySection {
    
    article {
      width: 80%;
    }

    border-right: none;
    border-left: none;
    width: 100%;

    .cardSection {
      gap: 20px;
    }
  }
}
@media screen and (max-width: 1420px) {
  section.philosophySection .cardSection {
    @include centeredFlex();
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 700px) {
  section.philosophySection {

    > h2, > article {
      width: 100%;
    }

  }
}

section.contactSection {

  width: 100%;
  @include centeredFlex();
  flex-direction: column;
  gap: $sectionGap;

  h2 {
    margin-bottom: $sectionGap;
  }

  > * {
    width: 60%;
  }
  form {
    margin: 50px auto;
  }

  button {
    margin: auto;
  }

}
@media screen and (max-width: 1000px) {
  section.contactSection {
    > * {
      width: 100%;
    }
  }
} 
