@import "./../_constants";
@import "./../module";

.standardPaddingSection {
  padding: 100px;
  width: fit-content;

  position: relative;
  margin: 200px 0;

  .standardSectionInvisibleHeading {
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0.07;

    word-spacing: 100vw;
    font-size: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .standardPaddingSection {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.decorationCode {
  position: absolute;
  opacity: 0.05;
  width: max-content;
  height: fit-content;
  font-size: 1.3rem;
}

.landingSection {
  padding: 100px 200px;
  width: 100%;
  min-height: 700px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25%;

  .decorationCode {
    position: absolute;
    opacity: 0.05;
    right: 100px;
    top: 0;
    width: max-content;
    height: fit-content;
    font-size: 2rem;
  }

  .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: fit-content;
    height: fit-content;

    position: relative;
    z-index: 1;

    .seeThrough {
      opacity: 0.1;
    }
  }

  .contentSection {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      display: flex;
      flex-direction: column;
    }

    .buttonSection {
      width: fit-content;

      button {
        width: 100%;
        margin: 50px 0;
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .landingSection {
    flex-direction: column;
    gap: 100px;

    padding: 100px 15%;

    code {
      left: 0;
      top: 300px;
    }
  }
}
@media screen and (max-width: 600px) {
  .landingSection {
    padding: 200px 10% 100px 10%;

    .heading {
      font-size: $h1fontSize;
    }
  }
}
@media screen and (max-width: 500px) {
  // hardcoded height for typed content so as to prevent overflow and subsequent content shift
  .landingSection .contentSection h3 {
    $line-height: 1.3;
    line-height: $line-height;
    height: $h3fontSize * $line-height * 5;
  }
}

.landingCarouselSection {
  position: relative;
  z-index: 2;
  height: fit-content;

  .landingCarousel {
    width: 100vw;
    height: fit-content;

    img {
      object-fit: cover;
    }
  }
}

.conceptSection {
  z-index: 1;
  background-color: rgb(29, 32, 32);
  color: white;

  position: relative;
  margin: auto;
  padding-bottom: 200px;

  display: grid;
  grid-template-rows: fit-content fit-content fit-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 10%;

  align-items: center;

  .conceptCarouselSection {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    position: relative;

    .conceptGraphWrapper {
      position: absolute;
      bottom: -25%;
      left: -25%;
      opacity: 0.5;
      z-index: 1;
    }

    .conceptImageCarousel {
      width: 100%;
      height: 100%;
      position: relative;
    }

  }

  .decorationCode {
    right: 0px;
    top: 0px;
  }

  h2 {
    width: fit-content;
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }

  .textSection {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    .buttonSection button {
      margin: 50px 0;
    }
  }
}
@media screen and (max-width: 1600px) {

  .conceptSection {
    grid-template-rows: repeat(4, fit-content);
    grid-template-columns: 1fr;
    row-gap: 150px;
    column-gap: 0;

    .conceptCarouselSection {
      grid-row: 2 / 2;
      grid-column: 1 / 1;

    }

    .textSection {
      grid-row: 3 / 3;
      grid-column: 1 / 1;
    }

  }
}
@media screen and (max-width: 1200px) {
  .conceptSection .conceptGraphWrapper {
    left: 25%;
    top: -25%;
    bottom: initial;
    right: 25%;
  }
}
@media screen and (max-width: 980px) {
  .conceptSection {
    grid-template-rows: repeat(3, fit-content);
    grid-template-columns: 1fr;

    .decorationCode {
      top: initial;
      bottom: 0;
    }

    .conceptImage {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }

    .textSection {
      grid-row: 3 / 3;
      grid-column: 1 / 1;
    }
  }
}

.postSection {

  display: grid;
  grid-template-rows: repeat(2, fit-content);
  grid-template-columns: repeat(2, 45vw);
  padding: 0 5vw;

  .projectsSection, .blogSection {
    width: 100%;
    height: 500px;
  }

  .projectsSection {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }
  .blogSection {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
  } 

}