.standardPaddingSection {
  padding: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 200px 0;
}
.standardPaddingSection .standardSectionInvisibleHeading {
  position: absolute;
  top: 0;
  left: 50px;
  opacity: 0.07;
  word-spacing: 100vw;
  font-size: 8rem;
}

@media screen and (max-width: 600px) {
  .standardPaddingSection {
    padding-right: 10%;
    padding-left: 10%;
  }
}
.decorationCode {
  position: absolute;
  opacity: 0.05;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3rem;
}

.landingSection {
  padding: 100px 200px;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25%;
}
.landingSection .decorationCode {
  position: absolute;
  opacity: 0.05;
  right: 100px;
  top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2rem;
}
.landingSection .heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
}
.landingSection .heading .seeThrough {
  opacity: 0.1;
}
.landingSection .contentSection {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.landingSection .contentSection h3 {
  display: flex;
  flex-direction: column;
}
.landingSection .contentSection .buttonSection {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.landingSection .contentSection .buttonSection button {
  width: 100%;
  margin: 50px 0;
}

@media screen and (max-width: 1165px) {
  .landingSection {
    flex-direction: column;
    gap: 100px;
    padding: 100px 15%;
  }
  .landingSection code {
    left: 0;
    top: 300px;
  }
}
@media screen and (max-width: 600px) {
  .landingSection {
    padding: 200px 10% 100px 10%;
  }
  .landingSection .heading {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 500px) {
  .landingSection .contentSection h3 {
    line-height: 1.3;
    height: 16.25rem;
  }
}
.landingCarouselSection {
  position: relative;
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.landingCarouselSection .landingCarousel {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.landingCarouselSection .landingCarousel img {
  -o-object-fit: cover;
     object-fit: cover;
}

.conceptSection {
  z-index: 1;
  background-color: rgb(29, 32, 32);
  color: white;
  position: relative;
  margin: auto;
  padding-bottom: 200px;
  display: grid;
  grid-template-rows: -webkit-fit-content -webkit-fit-content -webkit-fit-content;
  grid-template-rows: fit-content fit-content fit-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  -moz-column-gap: 10%;
       column-gap: 10%;
  align-items: center;
}
.conceptSection .conceptCarouselSection {
  grid-row: 2/2;
  grid-column: 2/3;
  position: relative;
}
.conceptSection .conceptCarouselSection .conceptGraphWrapper {
  position: absolute;
  bottom: -25%;
  left: -25%;
  opacity: 0.5;
  z-index: 1;
}
.conceptSection .conceptCarouselSection .conceptImageCarousel {
  width: 100%;
  height: 100%;
  position: relative;
}
.conceptSection .decorationCode {
  right: 0px;
  top: 0px;
}
.conceptSection h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-row: 1/1;
  grid-column: 1/3;
}
.conceptSection .textSection {
  grid-row: 2/2;
  grid-column: 1/1;
}
.conceptSection .textSection .buttonSection button {
  margin: 50px 0;
}

@media screen and (max-width: 1600px) {
  .conceptSection {
    grid-template-rows: repeat(4, -webkit-fit-content);
    grid-template-rows: repeat(4, fit-content);
    grid-template-columns: 1fr;
    row-gap: 150px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .conceptSection .conceptCarouselSection {
    grid-row: 2/2;
    grid-column: 1/1;
  }
  .conceptSection .textSection {
    grid-row: 3/3;
    grid-column: 1/1;
  }
}
@media screen and (max-width: 1200px) {
  .conceptSection .conceptGraphWrapper {
    left: 25%;
    top: -25%;
    bottom: initial;
    right: 25%;
  }
}
@media screen and (max-width: 980px) {
  .conceptSection {
    grid-template-rows: repeat(3, -webkit-fit-content);
    grid-template-rows: repeat(3, fit-content);
    grid-template-columns: 1fr;
  }
  .conceptSection .decorationCode {
    top: initial;
    bottom: 0;
  }
  .conceptSection .conceptImage {
    grid-row: 2/2;
    grid-column: 1/1;
  }
  .conceptSection .textSection {
    grid-row: 3/3;
    grid-column: 1/1;
  }
}
.postSection {
  display: grid;
  grid-template-rows: repeat(2, -webkit-fit-content);
  grid-template-rows: repeat(2, fit-content);
  grid-template-columns: repeat(2, 45vw);
  padding: 0 5vw;
}
.postSection .projectsSection, .postSection .blogSection {
  width: 100%;
  height: 500px;
}
.postSection .projectsSection {
  grid-row: 2/2;
  grid-column: 1/1;
}
.postSection .blogSection {
  grid-row: 2/2;
  grid-column: 2/2;
}/*# sourceMappingURL=home.module.css.map */