@import "./../_constants";
@import "./../module";

.standardPaddingSection {
  padding: 100px;
  width: fit-content;

  position: relative;
  margin: 200px 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #2a3236;

  .standardSectionInvisibleHeading {
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0.07;

    word-spacing: 100vw;
    font-size: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .standardPaddingSection {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.decorationCode {
  position: absolute;
  opacity: 0.05;
  width: max-content;
  height: fit-content;
  font-size: 1.3rem;
}

.landingSection {
  background-color: transparent;
  padding: 100px 200px;
  width: 100%;
  min-height: 700px;
  margin-top: 100px;
  border: none;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25%;

  .decorationCode {
    position: absolute;
    opacity: 0.05;
    right: 100px;
    top: 0;
    width: max-content;
    height: fit-content;
    font-size: 2rem;
  }

  .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: fit-content;
    height: fit-content;

    position: relative;
    z-index: 1;

    .seeThrough {
      opacity: 0.1;
    }
  }

  .contentSection {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      display: flex;
      flex-direction: column;
    }

    .buttonSection {
      width: fit-content;

      button {
        width: 100%;
        margin: 50px 0;
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .landingSection {
    flex-direction: column;
    gap: 100px;

    padding: 100px 15%;

    code {
      left: 0;
      top: 300px;
    }
  }
}
@media screen and (max-width: 600px) {
  .landingSection {
    padding: 200px 10% 100px 10%;

    .heading {
      font-size: $h1fontSize;
    }
  }
}
@media screen and (max-width: 500px) {
  // hardcoded height for typed content so as to prevent overflow and subsequent content shift
  .landingSection .contentSection h3 {
    $line-height: 1.3;
    line-height: $line-height;
    height: $h3fontSize * $line-height * 5;
  }
}

.landingCarouselSection {
  position: relative;
  z-index: 2;
  height: fit-content;
  width: 100vw;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.line {
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
  left: 33%;
}

.conceptSection {
  z-index: 1;
  color: white;
  border-left: none;

  position: relative;
  margin-right: 100px;
  padding-bottom: 200px;

  display: grid;
  grid-template-rows: fit-content fit-content fit-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 10%;

  align-items: center;

  .conceptCarouselSection {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    position: relative;

    .conceptGraphWrapper {
      position: absolute;
      bottom: -25%;
      left: -25%;
      opacity: 0.5;
      z-index: 0;
    }

    .conceptImageCarousel {
      width: 100%;
      height: 100%;
      position: relative;
    }

  }

  .decorationCode {
    right: 0px;
    top: 0px;
  }

  h2 {
    width: fit-content;
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }

  .textSection {
    grid-row: 2 / 2;
    grid-column: 1 / 1;

    p {
      opacity: 0.8;
    }

    .buttonSection button {
      margin: 50px 0;
    }
  }
}
@media screen and (max-width: 1600px) {

  .conceptSection {
    grid-template-rows: repeat(4, fit-content);
    grid-template-columns: 1fr;
    row-gap: 150px;
    column-gap: 0;

    .conceptCarouselSection {
      grid-row: 2 / 2;
      grid-column: 1 / 1;

    }

    .textSection {
      grid-row: 3 / 3;
      grid-column: 1 / 1;
    }

  }
}
@media screen and (max-width: 1200px) {
  .conceptSection .conceptGraphWrapper {
    left: 25%;
    top: -25%;
    bottom: initial;
    right: 25%;
  }
}
@media screen and (max-width: 980px) {
  .conceptSection {
    grid-template-rows: repeat(3, fit-content);
    grid-template-columns: 1fr;
    margin-right: 0px;

    .decorationCode {
      top: initial;
      bottom: 0;
    }

    .conceptImage {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }

    .textSection {
      grid-row: 3 / 3;
      grid-column: 1 / 1;
    }
  }
}

.postSection {

  $left-margin: 100px;
  position: relative;
  width: calc(100% - #{$left-margin});
  display: grid;
  grid-template-rows: repeat(5, fit-content);
  grid-template-columns: repeat(2, fit-content);
  column-gap: 5vw;
  row-gap: 50px;
  padding: 100px 5vw;

  margin-left: $left-margin;
  border-right: none;

  h2, h5, p {
    width: 100%;
    text-align: right;
  }
  h2 {
    grid-column: 1 / 3;
  }
  > p {
    justify-self: right;
    grid-column: 1 / 3;
    grid-row: 2;
    width: 40%;
  }
  > h5 {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .decoration {
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50%;
  }


  .projectsSection, .blogSection {
    width: 100%;
    height: fit-content;
  }

  .projectsSection {
    grid-row: 4;
    grid-column: 1 / 1;

    .projectCarousel {
      width: 100%;
      height: 100%;
    }

  }
  .blogSection {
    grid-row: 4;
    grid-column: 2 / 2;

    .blogCarousel {
      width: 100%;
      height: 100%;
    }
  } 

}





/// philosophy section:

.philosophySection {

  width: 90%;
  margin: auto;

  > h2, p {
    text-align: center;
  }
  > p {
    width: 50%;
    margin: auto;
  }

  .cardSection {
    margin: 150px 0;
    display: grid;
    grid-template-rows: repeat(2, fit-content);
    grid-template-columns: repeat(2, fit-content);
    gap: 100px;
  
    .card {
      text-align: center;
      box-shadow: $boxShadow;
      position: relative;
      z-index: 2;
      width: 600px;
      height: 600px;


  
      &:nth-child(1) {
        justify-self:end;
        grid-row: 1;
        grid-column: 1;
      }
      &:nth-child(2) {
        justify-self:start;
        grid-row: 1;
        grid-column: 2;
      }
      &:nth-child(3) {
        justify-self:end;
        grid-row: 2;
        grid-column: 1;
      }
      &:nth-child(4) {
        justify-self:start;
        grid-row: 2;
        grid-column: 2;
      }
  
    }
  }

  .buttonSection button {
    margin: auto;
  }

}
