@import "./../../styles/constants";

.participationForm {
 
  width: 100%;

  display: flex;
  flex-direction: column;

  label {display: block;}

  input, textarea {
    width: 100%;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 10px;
  }

  textarea {
    resize: vertical;
    height: 300px
  }

  button {
    top: $sectionGap;
    width: fit-content;
  }

} 