@import "./../../styles/module";
@import "./../../styles/constants";

.searchSection {
  height: 100%;
  position: relative;

  @include centeredFlex();

  .miniSearch {
    display: none;
  }

  form {
    border-radius: $standardBorderRadius / 2;
    width: 100%;
    height: fit-content;
    padding: 20px;
    @include centeredFlex();

    background-color: $backgroundColor;
    position: relative;
    border: $border;
    display: inline-flex;

    .searchInput {
      background-color: transparent;
      color: white;
      width: 100%;
    }

    .xButton,
    .searchButton {
      margin: 0;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      width: fit-content;
      cursor: pointer;
      @include centeredFlex();

      transition: border 0.2s ease;
      border: 1px solid transparent;
      &:hover {
        border: $border;
      }

    }
    .xButton {
      margin-right: 10px;
    }

    .resultsSection {
      border-radius: $standardBorderRadius / 2;
      position: absolute;
      background-color: $backgroundColor !important;
      width: 100%;
      height: fit-content;
      top: 110%;
      left: 0;
      padding: 0 20px;
      margin: 0;
      margin-right: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1);

      ol {
        list-style: none;
        width: 100%;
        li {
          background-color: $backgroundColor;
          padding: 5px 0;
          margin: 5px 0;
          width: 100%;

          @include centeredFlex();
          gap: 5px;
          justify-content: space-between;

          .linkTextWrapper {
            width: calc(100% - 15px);
            @include textCutOffEllipsis();
          }
        }
      }

      .viewMore {
        height: fit-content;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .searchSection {
    width: 150px;
  }
}

@media screen and (max-width: $searchFieldDisplayThreshold) {
  .searchSection {
    display: none;
  }
}
