@import "./../../styles/module";
@import "./../../styles/constants";

.header,
.header .content,
.header .content nav > ul {
  @include centeredFlex();
  li {
    margin-left: 0;
  }

}
.header a {
  opacity: 1;
}

.header {
  height: 100px;
  width: 100vw;

  position: sticky;
  top: 0;
  right: 0;
  padding: 0 75px;
  z-index: 99;

  background-color: transparent;
  transition: background-color 0.5s ease, border 0.5s ease;
  border-bottom: 1px solid transparent;

  .logo {
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./../../public/assets/svgs/cdia_v_1_0_white.svg");

    cursor: pointer;
  }

  .content {
    height: 100%;

    gap: 50px;

    select {
      height: 100%;
      option {
        background-color: $backgroundColor;
        color: white;
        padding: 100px;
      }
    }
  }
}

.headerActive {
  background-color: $darkerBackgroundColor;
  border-bottom: $border;
}

@media screen and (max-width: 1340px) {
  .header {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 650px) {
  .header .content {
    gap: 15px;
  }
  .header {
    padding: 0 120px 0 15px;
  }
}


.miniSearch {
  display: none;
}
@media screen and (max-width: $searchFieldDisplayThreshold) {
  .miniSearch {
    display: block;
  }
}
