@import "./../../styles/module";
@import "./../../styles/constants";

.header,
.header .content,
.header .content nav > ul {
  @include centeredFlex();
}

.header {
  height: 100px;
  width: 100vw;

  position: sticky;
  top: 0;
  right: 0;
  padding: 0 50px;
  z-index: 99;

  background-color: transparent;
  transition: background-color 0.5s ease, border 0.5s ease;
  border-bottom: 1px solid transparent;

  .logo {
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./../../public/assets/svgs/jugend_entwickelt_digital_v_1_0_white.svg");

    cursor: pointer;
  }

  .content {
    height: 100%;

    gap: 50px;

    select {
      height: 100%;
      option {
        background-color: $backgroundColor;
        color: white;
        padding: 100px;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .header {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 650px) {
  .header .content {
    gap: 15px;
  }
  .header {
    padding: 0 80px 0 15px;
  }
}
