@import "./../constants";
@import "./../module";

.list {
  list-style-type:lower-latin;
}

.bedingungen {
  display: flex;
  flex-direction: column;
  gap: 50px;

  & > section {
    transition: opacity 0.2s ease;
    flex: 1;
    padding-left: 20px;
    border-left: $border;

    @include centeredFlex();

    article {
      width: 70%;
    }

    .icon {
      padding-inline: 70px;
      width: 30%;
      height: 30%;
    }

  }

  margin-bottom: $sectionGap;

}

.participationForm {

  $gap: 50px;
  display: grid;
  
  grid-template-columns: calc(50% - #{$gap}) calc(50% - #{$gap});

  grid-template-areas: 
    "participant email"
    "school schoolMail"
    "message message"
    "submitbutton status";
  column-gap: $gap;
  row-gap: 10px;

  .name { grid-area: participant }
  .email { grid-area: email }
  .school { grid-area: school }
  .schoolMail { grid-area: schoolMail }
  .message { grid-area: message }
  .submit { 
    grid-area: submitbutton; 
    top: 0;
  }
  .status { 
    grid-area: status;
    align-self: center;
    justify-self: center;
  }

}

@media screen and (max-width: 1000px) {

  .participationForm {
    display: block;
  }

}