@import "./../constants";
@import "./../module";

.list {
  list-style-type:lower-latin;
}

.bedingungen {
  display: flex;
  flex-direction: column;
  gap: 50px;

  & > section {
    opacity: 0.5;
    transition: opacity 0.2s ease;
    flex: 1;
    padding-left: 20px;
    border-left: $border;
    &:hover {
      opacity: 1;
    }

    @include centeredFlex();

    article {
      width: 70%;
    }

    .icon {
      padding-inline: 50px;
      width: 30%;
      height: 30%;
    }

  }

  margin-bottom: $sectionGap;

}