@import "./../../styles/module";
@import "./../../styles/constants";



section.headingSection {

  position: relative;

  code.code {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
  }

  margin-top: 100px;
  padding-inline: $standardTemplateSidePadding;
  padding-block: 100px;

}

.imageContainer {
  margin-top: 100px;
  margin-bottom: 200px;
  height: 500px;
  filter: brightness(60%);
}

// this is the subcomponent of standard_page_template_component
section.section {

  
  &:before {
    width: 100%;
  }

  padding-inline: 30px;
  padding-block: 50px;
  margin-inline: $standardTemplateSidePadding;
  margin-bottom: 100px;

  > h2 {
    margin-bottom: $sectionGap / 1.5; // no margin-top, because there is padding at the top
  }
  > h3, h4, h5, h6 {
    margin-bottom: $sectionGap / 2;
  }

  > section {
    margin-top: $sectionGap;
  }

}

@media screen and (max-width: 800px) {
  section.headingSection {
    padding-inline: $standardTemplateSidePaddingSmall;
  }
  section.section {
    margin-inline: $standardTemplateSidePaddingSmall;
  }
} 

@media screen and (max-width: 500px) {

  section.headingSection {
    padding-inline: $standardTemplateSidePaddingSmaller;
    margin-top: 0;

    h1 {
      @include wordBreak();
    }

  }
  .imageContainer {
    height: 300px;
  }
  section.section {
    margin-inline: $standardTemplateSidePaddingSmaller;
    padding-inline: 0;
  }
} 

@media screen and (max-width: 300px) {
  section.section {
    h1, h2, h3, h4, h5, h6, p {
      @include wordBreak();
    }
  }
}