@import "./../../styles/module";
@import "./../../styles/constants";


$subLinksPadding: 20px;

.navigation {
  height: 100%;
  gap: 20px;

  .menuButton {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    @include centeredFlex();
    position: absolute;
    top: calc(50% - 20px); // becuase the logo is 40px large
    right: 20px;
    z-index: 9999;

    &:after {
      background-color: rgba(30, 30, 30, 0.5);
    }
  }
  .menuButton,
  .menuButton > * {
    display: none;
  }

  & > ul {
    list-style: none;
    gap: 50px;
    height: 100%;

    li {
      position: relative;
      height: 100%;
      @include centeredFlex();

      a {
        z-index: 1;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          background-color: white;
          opacity: 0.5;
          bottom: -5px;
          left: 0;

          transition: width 0.2s ease;
        }

        &:hover:only-child:after {
          width: 100%;
        }
      }

      &:hover {
        & > .subLinks {
          display: flex;
          transform: translateY(0);
          opacity: 1;
        }
      }

      .subLinks {
        position: absolute;
        min-width: calc(100% + #{$subLinksPadding} * 2);
        top: 0;
        left: -$subLinksPadding;
        height: fit-content;
        background-color: $darkerBackgroundColor;
        gap: 40px;

        @include centeredFlex();
        flex-direction: column;
        align-items: flex-start;
        padding: calc($headerHeight + $subLinksPadding) $subLinksPadding
          $subLinksPadding + 10px;

        transition: transform 0.4s ease, opacity 0.4s ease;
        opacity: 0;
        transform: translateY(-100%);
      }
    }
  }
}

// TODO : fix!!!
@media screen and (max-width: 1200px) {
  .navigation {
    height: 100%;

    ul {
      z-index: 999;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: -100vh;
      right: 0;
      transition: top 0.5s ease;

      flex-direction: column;

      background-color: #222b30;
      padding: 100px;
      overflow-y: auto;
      overflow-x: hidden;

      li {
        height: fit-content;
        flex-direction: column;

        a:only-child {
          font-weight: 900;
        }
        a::after {
          bottom: -1px;
        }

        &:hover {
          & > .subLinks {
            transform: none;
            gap: 0;
            display: block;
          }
        }

        .subLinks {
          overflow-y: visible;
          position: static;
          min-width: 0;
          width: 100%;
          height: fit-content;
          padding: $subLinksPadding 0;
          display: block;
          opacity: 1;
          transform: none;
        }

      }

    }
  }

  .navigation .menuButton,
  .navigation .menuButton > * {
    display: block;
  }
}
