@import "./../../styles/constants";

.contactForm {
 
  width: 100%;

  display: flex;
  flex-direction: column;

  input, textarea {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 10px;
  }

  textarea {
    resize: none;
    height: 400px
  }

  button {
    top: $sectionGap;
    width: fit-content;
  }

} 