@import "./../../styles/constants";
@import "./../../styles/module";

.contentfulCollection {
  display: flex;
  flex-direction: column;
  gap: 100px;


  .nothing {
    @include centeredFlex();
    flex-direction: column;
    gap: $sectionGap;
  }
}