@import "./../../../styles/constants";

.schoolPreviewComponent {

  width: 100%;
  height: 100%;
  overflow-y: hidden;


  position: relative;

  .previewImage {
    height: 100%;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 60%;
      object-fit: contain;
    }

  }

  .previewText {
    color: $darkFontColor;
    padding: 50px;
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
  }


}