@import "./../../styles/constants";
@import "./../../styles/module";

.Carousel {

  box-shadow: $boxShadow;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.01);
  }

  .carouselWrapper {
    overflow-x: hidden;
    position: relative;
    border-radius: $standardBorderRadius / 2;

    .componentList {
      position: absolute;
      top: 0;
      left: 0;

      list-style: none;
      @include centeredFlex();
      justify-content: stretch;

      li {
        margin-left: 0;
        flex: 1;

        & > * {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .selectorList {
    @include centeredFlex();
    list-style: none;
    justify-content: center;
    gap: 50px;

    padding: 20px 0;

    li {
      cursor: pointer;
    }
  }
}
