@import "./../../styles/constants";
.cardComponent {
  cursor: pointer;
  //background-color: rgb(26, 32, 36);
  background-color: whitesmoke;
  color: $darkFontColor;
  
  border-radius: $standardBorderRadius / 2;

  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.01);
  }

  display: flex;
  flex-direction: column;

  .imageSection {
    height: 200px;
    overflow: hidden;
    img {
      height: 200px; 
      border-top-left-radius: $standardBorderRadius / 2;
      border-top-right-radius: $standardBorderRadius / 2;
      width: 100%;
      object-fit: cover;
    }
  } 

  .textSection {
    
    border-radius: $standardBorderRadius / 2;
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

}