@mixin centeredFlex() {

  display: flex;
  align-items: center;
  justify-content: space-between;

}

@mixin textCutOffEllipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;   
}