@import "./constants";
@import "./module";

/* 
  globals.module.scss ist a file which will aid globals.css in adding uniform 
  styles while supporting classes.
*/


section.headingSection {
  padding: 150px 200px;
}
@media screen and (max-width: 1165px) {
  section.headingSection {
    padding: 100px 15%;
  }
}
@media screen and (max-width: 600px) {
  section.headingSection {
    padding: 200px 10% 100px 10%;

    .heading {
      font-size: $h1fontSize;
    }
  }
}

.preserve {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.heading {
  /* absolute first heading on a page */
  font-size: 4.5rem;
}

button.unimportantButton {
  box-shadow: none;
  background-color: transparent;
  color: white;
  border-radius: $standardBorderRadius / 2;
  border: $border;
}

.background {
  user-select: none;
}


.decorationCode {
  position: absolute;
  opacity: 0.05;
  width: max-content;
  height: fit-content;
  font-size: 1.3rem;
}


.imageContainer {
  width: 100%;
  height: 400px;
  position: relative;

  margin: $sectionGap * 2 0;
  img {
    border-radius: $standardBorderRadius / 2;
    border: $border;
    width: 80%;
    height: 500px;
    object-fit: cover;
  }

}

.standardPaddingSection {
  margin-bottom: 200px;
  padding: 200px 100px;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
  }

  position: relative;
  //margin-top: 200px;
  //margin-bottom: 200px;
  //border: $border;
  //background-color: #2a3236;

  //border-radius: $standardBorderRadius;
  //box-shadow: 0 50px 100px rgba(20, 20, 20, 0.1);

  p {
    margin: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .standardPaddingSection {
    padding-right: 10%;
    padding-left: 10%;
  }
}