@import "./constants";
@import "./module";

/* 
  globals.module.scss ist a file which will aid globals.css in adding uniform 
  styles while supporting classes.
*/

.preserve {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.heading {
  /* absolute first heading on a page */
  font-size: 4.5rem;
}

button.unimportantButton {
  box-shadow: none;
  background-color: transparent;
  color: white;
  border-radius: $standardBorderRadius / 2;
}

.background {
  user-select: none;
}

.standardPaddingSection {
  padding: 100px;

  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  border: $border;
  background-color: #2a3236;

  border-radius: $standardBorderRadius;
  box-shadow: 0 50px 100px rgba(20, 20, 20, 0.1);

  p {
    margin: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .standardPaddingSection {
    padding-right: 10%;
    padding-left: 10%;
  }
}