/* 
  globals.module.scss ist a file which will aid globals.css in adding uniform 
  styles while supporting classes.
*/

.preserve {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.heading {
  /* absolute first heading on a page */
  font-size: 4.5rem;
}

.unimportantButton {
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.background {
  user-select: none;
}
