@import "./constants";
@import "./module";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&family=Roboto+Flex:opsz,wght@8..144,300&family=Source+Code+Pro:wght@300&display=swap");

#__next,
html,
body {
  padding: 0;
  margin: 0;

  background-color: $backgroundColor;
  color: white;
  // * the following line does not work with ios. Do not use.
  //contain: paint;
  // * this is because html { contain: paint; } does not work

  scroll-behavior: smooth;
}

#__next {
  contain: paint; // !!!! THIS IS IT!!!!
}

#nprogress .bar {
  background: white !important;
  height: 3px !important;
}

:root {
  --ti-cursor-color: black;
  --ti-cursor-margin-left: 0.2rem;
}

* {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 { font-size: $h1fontSize; }
h2 { font-size: $h2fontSize; }
h3 { font-size: $h3fontSize; }
h4 { font-size: $h4fontSize; }
h5 { font-size: $h5fontSize; }
h6 { font-size: $h6fontSize; }

@media screen and (max-width: 540px) {
  h1 { font-size: $smallerh1fontSize; }
  h2 { font-size: $smallerh2fontSize; }
  h3 { font-size: $smallerh3fontSize; }
  h4 { font-size: $smallerh4fontSize; }
  h5 { font-size: $smallerh5fontSize; }
  h6 { font-size: $smallerh6fontSize; }
}


p,
q,
blockquote,
a, li {
  @include wordBreak();
  /* this is the standard font for all blog content, etc. */
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

a {
  color: grey;
  // TODO: replace with link icon from phosphor
  &:after {
    content: " (link)"
  }
  opacity: 1;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: "Source Code Pro", monospace;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: ">  ";
  li {
    margin-left: 25px;
  }
}

button {
  border-radius: $standardBorderRadius / 2;
  padding: 20px 40px;
  display: block;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-weight: 600;
  border: none;

  position: relative;
  transition: transform 0.2s ease;
  cursor: pointer;

  &:after {
    content: "";
    border-radius: $standardBorderRadius / 2;
    display: block;
    position: absolute;
    background-color: $backgroundColor;
    mix-blend-mode: difference;
    width: 100%;
    height: 0;
    bottom: 0;
    right: 0;

    transition: height 0.2s ease;
  }

  &:hover {

    &:after {
      height: 100%;
    }
  } 

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}
button:disabled {
  opacity: 0.7;
  cursor:default;
  box-shadow: none;;

  &:after {
    display: none;
  }
}

// form stuff:

input, textarea {
  border-radius: $standardBorderRadius / 2;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

select {
  border: none;
}
